.node-red/.flows.json.backup
[
    {
        "id": "d27ff7acba5e037e",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f39649b35540991f",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "93adbbc9bc8eeabe",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9822daba911d8846",
        "type": "ui_tab",
        "name": "Monitoring",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "89221f1b3e1e0dd1",
        "type": "ui_group",
        "name": "Sensor Data",
        "tab": "9822daba911d8846",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "32058175d5771dde",
        "type": "ui_group",
        "name": "Controls",
        "tab": "9822daba911d8846",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "56688f1969147e9e",
        "type": "ui_group",
        "name": "Weather API",
        "tab": "9822daba911d8846",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d42f12891b474f7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.8.140",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0f25c96d5a604298",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "process_sensor_data",
        "func": "let data = msg.payload;\n\n// save sensor data into the flow\nflow.set(\"sensorData\", data.sensors);\n// msg.payload = data.sensors;\n\n// msg.payload = \"water\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "49f58424f2ecc968",
                "b4ede96e1072c9b8"
            ]
        ]
    },
    {
        "id": "a66fbdc432908dca",
        "type": "http in",
        "z": "d27ff7acba5e037e",
        "name": "",
        "url": "/sensor-data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 580,
        "wires": [
            [
                "64a99cfa8ceea933"
            ]
        ]
    },
    {
        "id": "64a99cfa8ceea933",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "parse_data",
        "func": "var sensorData = flow.get(\"sensorData\") || {};\nmsg.payload = sensorData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 580,
        "wires": [
            [
                "9b790e487fcb9bfd"
            ]
        ]
    },
    {
        "id": "9b790e487fcb9bfd",
        "type": "http response",
        "z": "d27ff7acba5e037e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 450,
        "y": 580,
        "wires": []
    },
    {
        "id": "9bd104a1d69e724f",
        "type": "inject",
        "z": "d27ff7acba5e037e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "0 5-17 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "READ",
        "payloadType": "str",
        "x": 1000,
        "y": 220,
        "wires": [
            [
                "083c4b7369ede12a",
                "35a8bc56db8a3151"
            ]
        ]
    },
    {
        "id": "b4ede96e1072c9b8",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "water",
        "func": "let data = flow.get(\"sensorData\"); // array of sensors\nlet pumps = flow.get(\"pumpData\");  // array of pumps\n// weather forecast\nlet totalPrecip = parseFloat(flow.get(\"totalPrecipHourly\")) || 0; // total precipitation in mm today\nlet probPrecip = flow.get(\"probPrecip\") || []; // true if precipitation probability above 30\nlet hourlyPrecip = flow.get(\"hourlyRain\") || []; // array with hourly percipitation \n\n// ?? \n// let defaultWaterMode = flow.get(\"defWaterMode\") || \"AUTO\"; // automatic or user overrides\n// let customWaterAmount = flow.get(\"customWater\") || 0; // user defined amount for watering\nlet recheckActive = flow.get(\"isRecheckActive\") || false;\n\nlet moistureThreshold = 1500;    // wet soil\n\nlet outputMsgs = [];\n\ndata.forEach(sensor => {\n    // skip DHT sensors\n    if (sensor.type !== \"SOIL\") {\n        return;\n    }\n\n    let soilMoisture = sensor.moisture;\n    let pumpId = sensor.pump;\n    let command = \"\";\n\n    // set default values\n    let env = \"INDOOR\"; \n    let defaultWaterMode = \"AUTO\";\n    let customWaterAmount = 0;\n\n    // get associated pump\n    let pump = pumps.find(item => item.id === pumpId);\n    if (pump) {\n        env = pump.env;\n        defaultWaterMode = pump.currentWaterMode;\n        customWaterAmount = pump.amount;\n    }\n\n    // User overriden watering mode\n    if (defaultWaterMode !== \"AUTO\") {\n        if (defaultWaterMode === \"CUSTOM\" && customWaterAmount > 0) {\n            command = \"WATER \" + pumpId.toString() + \" CUSTOM \" + customWaterAmount;\n            // flow.set(\"lastWateringMode\", msg.payload.substring(6,13));\n        } else {\n            command = \"WATER \" + pumpId.toString() + \" \" + defaultWaterMode;\n            // flow.set(\"lastWateringMode\", msg.payload.substring(6,));\n        }   \n        outputMsgs.push({ payload: command });\n        \n        return;\n    }\n\n    // INDOOR MODE\n    if (env === \"INDOOR\") {\n        if (soilMoisture <= moistureThreshold) {\n            command = \"IDLE \" + pumpId.toString();\n        } else if (soilMoisture <= 2000) {\n            command = \"WATER \" + pumpId.toString() + \" LIGHT\";\n        } else if (soilMoisture <= 2500) {\n            command = \"WATER \" + pumpId.toString() + \" MEDIUM\";\n        } else {\n            command = \"WATER \" + pumpId.toString() + \" HEAVY\";\n        }\n    }\n    // OUTDOOR MODE\n    else {\n        // check forecast (if rain is expected in next 4/6 hours)\n        let d = new Date().getUTCHours() // get current hour in UTC\n        // how many hours to check forecast for\n        let checkHrs = (d === 17) ? 6 : 4;  // if last check of the day, check next 6 hours\n        let checkMax = Math.min(d+checkHrs, hourlyPrecip.length) // get the upper boundary index for weather check\n\n        // get total precipitation mm and max precipitation probabilty in next x hours \n        let totalRainNextHours = 0;\n        let maxPrecipProb = 0;\n        for (var i = d; i < checkMax; i++) {\n            totalRainNextHours += hourlyPrecip[i];\n            \n            if (probPrecip[i] > maxPrecipProb) {\n                maxPrecipProb = probPrecip[i];\n            }\n        }\n\n        // determine if watering needed\n        if (soilMoisture<= moistureThreshold) {\n            command = \"IDLE \" + pumpId.toString();   // no need to water\n        }\n        else if (soilMoisture <= 2000) {\n            if (maxPrecipProb < 30) {\n                command = \"WATER \" + pumpId.toString() + \" LIGHT\";\n            } else {\n                command = \"IDLE \" + pumpId.toString();\n            }\n        } else if (soilMoisture <= 2500) {\n            if (maxPrecipProb < 30) {\n                command = \"WATER \" + pumpId.toString() + \" MEDIUM\";\n            } else if (totalRainNextHours < 2) {\n                command = \"WATER \" + pumpId.toString() + \" LIGHT\";\n            } else {\n                command = \"IDLE \" + pumpId.toString();\n            }\n        } else {    // soil is dry\n            if (maxPrecipProb < 30) {\n                command = \"WATER \" + pumpId.toString() + \" HEAVY\";\n            } else if (totalRainNextHours < 2) {\n                command = \"WATER \" + pumpId.toString() + \" MEDIUM\";\n            } else if (totalRainNextHours < 4) {\n                command = \"WATER \" + pumpId.toString() + \" LIGHT\";\n            } else {\n                command = \"IDLE \" + pumpId.toString();\n            }\n        }\n    }\n\n    outputMsgs.push({ payload: command })\n\n\n})\n\n\n// store chosen watering mode into flow for log\n// flow.set(\"lastWateringMode\", msg.payload.substring(6,));\n\n// recheck soil moisture after 10 minutes if watering\nif (!recheckActive) {\n    if (outputMsgs.some(msg => msg.payload.includes(\"WATER\"))) {\n        flow.set(\"isRecheckActive\", true);\n        setTimeout(() => {\n            // send READ message to trigger new reading and function execution\n            node.send({ payload: \"READ\"});  \n            }, 600000);   // recheck in 10 minutes\n    }\n} else {\n    flow.set(\"isRecheckActive\", false);    \n} \n\nreturn [outputMsgs];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 160,
        "wires": [
            [
                "ec61008359c39560",
                "35a8bc56db8a3151",
                "20eb51f4534b98e5"
            ]
        ]
    },
    {
        "id": "c0388066fca0e290",
        "type": "http request",
        "z": "d27ff7acba5e037e",
        "name": "current weather api ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.open-meteo.com/v1/forecast?latitude=51.898&longitude=-8.4706&current_weather=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 840,
        "wires": [
            [
                "40da37c3a039ece7"
            ]
        ]
    },
    {
        "id": "562d551e6ea129af",
        "type": "inject",
        "z": "d27ff7acba5e037e",
        "name": "weather api",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 720,
        "wires": [
            [
                "c0388066fca0e290",
                "ba1b3d895e52848a"
            ]
        ]
    },
    {
        "id": "40da37c3a039ece7",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "parse_weather_api",
        "func": "let data = JSON.parse(msg.payload);\nlet current = data.current_weather;\n\nlet date = new Date(current.time)\nlet formatted_date = date.toLocaleString(\"en-GB\", {\n    day: \"2-digit\",\n    month: \"short\",\n    year: \"numeric\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    hour12: false\n}).replace(\",\", \"\");\n\n\nmsg.payload = {\n    temp: current.temperature + \" °C\",\n    windspeed: current.windspeed + \" km/h\",\n    winddirection: current.winddirection + \"°\",\n    time: formatted_date\n    }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 840,
        "wires": [
            [
                "1cd47af34da9410b",
                "9ff9d3722a1a7b69",
                "da61cf5cfdd80191",
                "487192047a9b714b",
                "da5a3b8216fe6eb0"
            ]
        ]
    },
    {
        "id": "1cd47af34da9410b",
        "type": "ui_text",
        "z": "d27ff7acba5e037e",
        "group": "56688f1969147e9e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload.temp}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 780,
        "wires": []
    },
    {
        "id": "9ff9d3722a1a7b69",
        "type": "ui_text",
        "z": "d27ff7acba5e037e",
        "group": "56688f1969147e9e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wind Speed",
        "format": "{{msg.payload.windspeed}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 820,
        "wires": []
    },
    {
        "id": "da61cf5cfdd80191",
        "type": "ui_text",
        "z": "d27ff7acba5e037e",
        "group": "56688f1969147e9e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wind Direction",
        "format": "{{msg.payload.winddirection}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 860,
        "wires": []
    },
    {
        "id": "ba1b3d895e52848a",
        "type": "http request",
        "z": "d27ff7acba5e037e",
        "name": "forecast 1d api",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.open-meteo.com/v1/forecast?latitude=51.898&longitude=-8.4706&hourly=precipitation_probability,rain,showers&forecast_days=1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 300,
        "y": 660,
        "wires": [
            [
                "a7a08a6b4dad935f"
            ]
        ]
    },
    {
        "id": "a7a08a6b4dad935f",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "parse_forecast_api",
        "func": "let data = JSON.parse(msg.payload);\nlet rain = data.hourly.rain;\nlet showers = data.hourly.showers;\nlet probability = data.hourly.precipitation_probability;\n\n// get total rain + showers in mm\nlet totalPrecipitationHourly = [];\nlet totalPrecip = 0;\nfor (var i = 0; i < 24; i++) {\n    totalPrecipitationHourly[i] = rain[i] + showers[i];\n    totalPrecip += rain[i] + showers[i];\n}\n\ntotalPrecip = Math.floor(totalPrecip*100)/100;\n\n// find maximum precipitation probability\nlet maxPrecipProb = Math.max(...probability);\n\n// save data in the flow\nflow.set(\"totalPrecipHourly\", totalPrecipitationHourly);\nflow.set(\"probabPrecip\", probability);\nflow.set(\"hourlyRain\", rain);\n\nmsg.payload = {\n    totalPrecipHourly: totalPrecipitationHourly,\n    totalPrecip: totalPrecip,\n    probabPrecip: probability,\n    hourlyRain: rain,\n    maxPrecipProb: maxPrecipProb\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 660,
        "wires": [
            [
                "5f96e176689cce61",
                "cc3e4bd4a741bcd4",
                "da5a3b8216fe6eb0"
            ]
        ]
    },
    {
        "id": "da5a3b8216fe6eb0",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 740,
        "wires": []
    },
    {
        "id": "5f96e176689cce61",
        "type": "ui_text",
        "z": "d27ff7acba5e037e",
        "group": "56688f1969147e9e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total Predicted Rainfall Today",
        "format": "{{msg.payload.totalPrecip}} mm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 640,
        "wires": []
    },
    {
        "id": "cc3e4bd4a741bcd4",
        "type": "ui_text",
        "z": "d27ff7acba5e037e",
        "group": "56688f1969147e9e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Highest Probabilty of Rainfall",
        "format": "{{msg.payload.maxPrecipProb}}%",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 820,
        "y": 680,
        "wires": []
    },
    {
        "id": "0b7ce3cd5e5c992c",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "change_watering_mode",
        "func": "let pumps = flow.get(\"pumpData\");\nlet updatedPump = msg.payload;\nlet pumpIndex = pumps.findIndex(pump => pump.id === updatedPump.id);\n\npumps[pumpIndex].currentWaterMode = updatedPump.currentWaterMode;\npumps[pumpIndex].env = updatedPump.env;\n\n// watering\nlet wateringModes = [\"LIGHT\", \"MEDIUM\", \"HEAVY\"];\nlet waterCommand = \"\";\n\nif (wateringModes.includes(updatedPump.currentWaterMode)) {\n    waterCommand = \"CHMOD \" + updatedPump.id.toString() + \" \" + updatedPump.currentWaterMode;\n\n} else if (updatedPump.currentWaterMode === \"CUSTOM\") {\n    waterCommand = \"CHMOD \" + updatedPump.id.toString() + \" CUSTOM \" + updatedPump.amount.toString();\n    pumps[pumpIndex].amount = parseInt(updatedPump.amount);\n\n} else if (updatedPump.currentWaterMode === \"AUTO\") {\n    waterCommand = \"CHMOD \" + updatedPump.id.toString() + \" MEDIUM\"; // default value (will change automatically)\n\n} else {\n    node.warn(\"Invalid input for CHMOD.\");\n    return null;\n}\n\n// environment\nlet envModes = [\"INDOOR\", \"OUTDOOR\"];\nlet envCommand = \"\";\n\nif (envModes.includes(updatedPump.env)) {\n    envCommand = \"SET_ENV \" + updatedPump.id.toString() + \" \" + updatedPump.env;\n} else {\n    node.warn(\"Invalid input for SET_ENV.\")\n    return nulll\n}\n\nflow.set(\"pumpData\", pumps);\n\nreturn [[{payload: waterCommand},{payload: envCommand}]];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 320,
        "wires": [
            [
                "9218897efed46d9e",
                "35a8bc56db8a3151"
            ]
        ]
    },
    {
        "id": "9218897efed46d9e",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 380,
        "wires": []
    },
    {
        "id": "fd928d2b9e1944a2",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "set_env",
        "func": "var env_setting = msg.payload;\n\nif (env_setting === \"INDOOR\") {\n    msg.payload = \"SET_ENV INDOOR\";\n} else if (env_setting === \"OUTDOOR\") {\n    msg.payload = \"SET_ENV OUTDOOR\";\n} else {\n    node.warn(\"Invalid input for SET_ENV.\");\n    return null;\n}\n\nflow.set(\"envMode\", env_setting);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 500,
        "wires": [
            [
                "1199cf16616d6f60",
                "35a8bc56db8a3151"
            ]
        ]
    },
    {
        "id": "1199cf16616d6f60",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 500,
        "wires": []
    },
    {
        "id": "d4bc37cb6b14bcdd",
        "type": "csv",
        "z": "d27ff7acba5e037e",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,pump,env,soil,temp,hum,waterMode,waterAmount",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 810,
        "y": 100,
        "wires": [
            [
                "d5db91812b763d19"
            ]
        ]
    },
    {
        "id": "d5db91812b763d19",
        "type": "file",
        "z": "d27ff7acba5e037e",
        "name": "",
        "filename": "/home/pi/fyp/readings.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1050,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "49f58424f2ecc968",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "ec61008359c39560",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "log_idle",
        "func": "let data = msg.payload;\n\nif (data === \"IDLE\") {\n    data = flow.get(\"sensorData\") || {};\n    data.timestamp = new Date().toISOString();\n    data.waterMode = \"IDLE\";\n    data.waterAmount = 0;\n    data.env = flow.get(\"envMode\") || \"INDOOR\";\n\n    msg.payload = data;\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 160,
        "wires": [
            [
                "d4bc37cb6b14bcdd"
            ]
        ]
    },
    {
        "id": "96c4d266fd3b6eb0",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "update_flow",
        "func": "flow.set(\"lastWateringMode\", \"MANUAL\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "083c4b7369ede12a",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 220,
        "wires": []
    },
    {
        "id": "a8a888fa98dae805",
        "type": "mqtt in",
        "z": "d27ff7acba5e037e",
        "name": "",
        "topic": "irrigation/readings",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5d42f12891b474f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "0f25c96d5a604298",
                "b550b59d364fc311"
            ]
        ]
    },
    {
        "id": "35a8bc56db8a3151",
        "type": "mqtt out",
        "z": "d27ff7acba5e037e",
        "name": "",
        "topic": "irrigation/control",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5d42f12891b474f7",
        "x": 1260,
        "y": 320,
        "wires": []
    },
    {
        "id": "8dee672ec47f757f",
        "type": "inject",
        "z": "d27ff7acba5e037e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "WATER",
        "payloadType": "str",
        "x": 1390,
        "y": 140,
        "wires": [
            [
                "35a8bc56db8a3151"
            ]
        ]
    },
    {
        "id": "130afca86a9ccf1f",
        "type": "mqtt in",
        "z": "d27ff7acba5e037e",
        "name": "",
        "topic": "irrigation/notice",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5d42f12891b474f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "d7bda9c37085a43c"
            ]
        ]
    },
    {
        "id": "487192047a9b714b",
        "type": "ui_text",
        "z": "d27ff7acba5e037e",
        "group": "56688f1969147e9e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last data update",
        "format": "{{msg.payload.time}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 900,
        "wires": []
    },
    {
        "id": "b550b59d364fc311",
        "type": "ui_template",
        "z": "d27ff7acba5e037e",
        "group": "89221f1b3e1e0dd1",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "\n<div ng-init=\"sensors = []\">\n    <div ng-repeat=\"sensor in sensors\">\n        <h4>Sensor: {{sensor.type}} (ID: {{sensor.id}})</h4>\n        <div ng-if=\"sensor.type == 'SOIL'\">\n            <p>Moisture: {{sensor.moisture}}</p>\n            <p>Pump: {{sensor.pump}}</p>\n        </div>\n        <div ng-if=\"sensor.type == 'DHT_SENSOR'\">\n            <p>Temperature: {{sensor.temperature}}°C</p>\n            <p>Humidity: {{sensor.humidity}}%</p>\n        </div>\n    </div>\n</div>\n\n<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg.payload.sensors) {\n                scope.sensors = msg.payload.sensors;\n            }\n        });\n    })\n    (scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 300,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d7bda9c37085a43c",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "process_notice",
        "func": "let data = msg.payload;\n\n// log error or notice messages from ESP\nnode.warn(\"Message: \" + JSON.stringify(data));\n\n// check notice contains information about watering \nif (data.hasOwnProperty(\"notice\") && data.notice.includes(\"watering_started\")) {\n    var pumpId = data.notice.substring(17,18);\n    // extract the volume of water used for watering\n    var amount = data.notice.substring(19,data.notice.length-1);\n\n    // manage data for log\n    data = flow.get(\"sensorData\") || {};\n    data.pump = pumpId;\n    data.timestamp = new Date().toISOString();\n    data.waterAmount = amount;\n    data.waterMode = flow.get(\"lastWateringMode\") || \"UNKNOWN\";\n    data.env = flow.get(\"envMode\") || \"INDOOR\";\n\n    msg.payload = data;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 100,
        "wires": [
            [
                "d4bc37cb6b14bcdd"
            ]
        ]
    },
    {
        "id": "1b5dd956e08ee398",
        "type": "mqtt in",
        "z": "d27ff7acba5e037e",
        "name": "",
        "topic": "irrigation/data/pumps",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5d42f12891b474f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 40,
        "wires": [
            [
                "67426dc7e1634013"
            ]
        ]
    },
    {
        "id": "67426dc7e1634013",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "store_pumps_sensors",
        "func": "let data = msg.payload;\n\nif (data.hasOwnProperty(\"pumps\")) {\n    flow.set(\"pumpData\", data.pumps);\n    msg.payload = data;\n}\n// } else if (data.hasOwnProperty(\"sensors\")) {\n//     flow.set(\"sensorsRawData\", data.sensors);\n//     msg.payload = data.sensors;\n// } \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 40,
        "wires": [
            [
                "20eb51f4534b98e5",
                "63d02a3976e94dc0"
            ]
        ]
    },
    {
        "id": "d82d6c7c8be588f6",
        "type": "inject",
        "z": "d27ff7acba5e037e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "GET_ALL",
        "payloadType": "str",
        "x": 1400,
        "y": 240,
        "wires": [
            [
                "35a8bc56db8a3151"
            ]
        ]
    },
    {
        "id": "20eb51f4534b98e5",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 40,
        "wires": []
    },
    {
        "id": "63d02a3976e94dc0",
        "type": "ui_template",
        "z": "d27ff7acba5e037e",
        "group": "32058175d5771dde",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div ng-init=\"pumps = []\">\n    <div ng-repeat=\"pump in pumps\">\n        <h3>Pump {{pump.id}}</h3>\n        <label>Watering Mode:</label>\n        <select ng-model=\"pump.currentWaterMode\" ng-change=\"updatePump(pump)\">\n            <option value = \"LIGHT\">Light</option>\n            <option value = \"MEDIUM\">Medium</option>\n            <option value = \"HEAVY\">Heavy</option>\n            <option value = \"CUSTOM\">Custom</option>\n            <option value = \"AUTO\">Automatic</option>\n        </select>\n        <div ng-if=\"pump.currentWaterMode=='CUSTOM'\">\n            <label>Custom Amount (ml):</label>\n            <input type=\"number\" ng-model=\"pump.amount\" ng-change=\"updatePump(pump)\"/>\n        </div>\n        <label>Environment:</label>\n        <select ng-model=\"pump.env\" ng-change=\"updatePump(pump)\">\n            <option value = \"INDOOR\">Indoor</option>\n            <option value = \"OUTDOOR\">Outdoor</option>\n        </select>\n        <hr/>\n    </div>\n</div>\n\n<script>\n    (function(scope) {\n        scope.$watch(\"msg\", function(msg) {\n            if (msg.payload.pumps) {\n                scope.pumps = msg.payload.pumps;\n            }\n        });\n\n        scope.updatePump = function(pump) {\n            scope.send({ payload: pump });\n        };\n    })(scope);\n</script>    ",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 320,
        "wires": [
            [
                "0b7ce3cd5e5c992c"
            ]
        ]
    }
]