.node-red/flows.json
[
    {
        "id": "d27ff7acba5e037e",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "93adbbc9bc8eeabe",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9822daba911d8846",
        "type": "ui_tab",
        "name": "Monitoring",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "89221f1b3e1e0dd1",
        "type": "ui_group",
        "name": "Sensor Data",
        "tab": "9822daba911d8846",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "32058175d5771dde",
        "type": "ui_group",
        "name": "Controls",
        "tab": "9822daba911d8846",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "56688f1969147e9e",
        "type": "ui_group",
        "name": "Weather API",
        "tab": "9822daba911d8846",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5d42f12891b474f7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.8.140",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "41c4ceb8772de4c3",
        "type": "ui_tab",
        "name": "Pairing",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e16fb3a027e5bb64",
        "type": "ui_group",
        "name": "Code",
        "tab": "41c4ceb8772de4c3",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "96d6c257e1a7422f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.140.16",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0f25c96d5a604298",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "process_sensor_data",
        "func": "let data = msg.payload;\nlet sensors = flow.get(\"sensorData\");\nlet updatedSensors = data.sensors;\n\n// update appropriate sensors\nupdatedSensors.forEach(sensor => {\n    let existingSensor = sensors.find(s => s.id === sensor.id && s.type === sensor.type);\n\n    if (existingSensor) {\n        if (sensor.type === \"SOIL\") {\n            existingSensor.moisture = sensor.moisture;\n\n        } else if (sensor.type === \"DHT_SENSOR\") {\n            existingSensor.humidity = sensor.humidity;\n            existingSensor.temperature = sensor.temperature;\n        }\n    }\n});\n\n// update sensor data in the flow\nflow.set(\"sensorData\", sensors);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "49f58424f2ecc968",
                "b4ede96e1072c9b8"
            ]
        ]
    },
    {
        "id": "a66fbdc432908dca",
        "type": "http in",
        "z": "d27ff7acba5e037e",
        "name": "",
        "url": "/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 740,
        "wires": [
            [
                "64a99cfa8ceea933"
            ]
        ]
    },
    {
        "id": "64a99cfa8ceea933",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "parse_data",
        "func": "let sensorData = flow.get(\"sensorData\") || {};\nlet pumpData = flow.get(\"pumpData\") || {};\nlet lastFert = flow.get(\"lastFert\") || {};\n\nlet updatedSensorData = JSON.parse(JSON.stringify(sensorData));\n\nupdatedSensorData.forEach(sensor => {\n    if (sensor.type === \"SOIL\") {\n        if (sensor.moisture > 2500) {\n            sensor.moisture = \"DRY\";\n        } else if (sensor.moisture > 2000) {\n            sensor.moisture = \"SEMI-DRY\";\n        } else if (sensor.moisture > 1500) {\n            sensor.moisture = \"DAMP\";\n        } else {\n            sensor.moisture = \"WET\"\n        }\n    }\n});\n    \n\nmsg.payload = {\n    sensors: updatedSensorData,\n    pumps: pumpData,\n    fert: lastFert\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 740,
        "wires": [
            [
                "9b790e487fcb9bfd"
            ]
        ]
    },
    {
        "id": "9b790e487fcb9bfd",
        "type": "http response",
        "z": "d27ff7acba5e037e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 740,
        "wires": []
    },
    {
        "id": "9bd104a1d69e724f",
        "type": "inject",
        "z": "d27ff7acba5e037e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "0 5-17 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "READ",
        "payloadType": "str",
        "x": 980,
        "y": 140,
        "wires": [
            [
                "083c4b7369ede12a",
                "35a8bc56db8a3151"
            ]
        ]
    },
    {
        "id": "b4ede96e1072c9b8",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "water",
        "func": "let data = flow.get(\"sensorData\"); // array of sensors\nlet pumps = flow.get(\"pumpData\");  // array of pumps\n// weather forecast\nlet totalPrecip = parseFloat(flow.get(\"totalPrecipHourly\")) || 0; // total precipitation in mm today\nlet probPrecip = flow.get(\"probPrecip\") || []; // true if precipitation probability above 30\nlet hourlyPrecip = flow.get(\"hourlyRain\") || []; // array with hourly percipitation \n\nlet recheckActive = flow.get(\"isRecheckActive\") || false;\nlet outputMsgs = [];    // output commands\n\nlet moistureThreshold = 1500;    // wet soil\n\n\ndata.forEach(sensor => {\n    // skip DHT and inactive sensors\n    if (sensor.type !== \"SOIL\" || sensor.active === 0) {\n        return;\n    }\n\n    let soilMoisture = sensor.moisture;\n    let pumpId = sensor.pump;\n    let command = \"\";\n\n    // set default values\n    let env = \"INDOOR\"; \n    let defaultWaterMode = \"AUTO\";\n    let customWaterAmount = 0;\n\n    // get associated pump\n    let pump = pumps.find(item => item.id === pumpId);\n    if (pump) {\n        env = pump.env;\n        defaultWaterMode = pump.currentWaterMode;\n        customWaterAmount = pump.amount;\n    }\n\n    // User overriden watering mode\n    if (defaultWaterMode !== \"AUTO\") {\n        if (defaultWaterMode === \"CUSTOM\" && customWaterAmount > 0) {\n            command = \"WATER \" + pumpId.toString() + \" \" + sensor.id.toString() + \" CUSTOM \" + customWaterAmount;\n            // flow.set(\"lastWateringMode\", msg.payload.substring(6,13));\n        } else {\n            command = \"WATER \" + pumpId.toString() + \" \" + sensor.id.toString() + \" \" + defaultWaterMode;\n            // flow.set(\"lastWateringMode\", msg.payload.substring(6,));\n        }\n\n        // don't send the same command twice\n        if (!outputMsgs.some(output => output.payload === command)) {\n            outputMsgs.push({ payload: command });\n        }   \n        \n        return;\n    }\n\n    // INDOOR MODE\n    if (env === \"INDOOR\") {\n        if (soilMoisture <= moistureThreshold) {\n            command = \"IDLE \" + pumpId.toString() + \" \" + sensor.id.toString();\n        } else if (soilMoisture <= 2000) {\n            command = \"WATER \" + pumpId.toString() + \" \" + sensor.id.toString() + \" LIGHT\";\n        } else if (soilMoisture <= 2500) {\n            command = \"WATER \" + pumpId.toString() + \" \" + sensor.id.toString() + \" MEDIUM\";\n        } else {\n            command = \"WATER \" + pumpId.toString() + \" \" + sensor.id.toString() + \" HEAVY\";\n        }\n    }\n    // OUTDOOR MODE\n    else {\n        // check forecast (if rain is expected in next 4/6 hours)\n        let d = new Date().getUTCHours() // get current hour in UTC\n        // how many hours to check forecast for\n        let checkHrs = (d === 17) ? 6 : 4;  // if last check of the day, check next 6 hours\n        let checkMax = Math.min(d+checkHrs, hourlyPrecip.length) // get the upper boundary index for weather check\n\n        // get total precipitation mm and max precipitation probabilty in next x hours \n        let totalRainNextHours = 0;\n        let maxPrecipProb = 0;\n        for (var i = d; i < checkMax; i++) {\n            totalRainNextHours += hourlyPrecip[i];\n            \n            if (probPrecip[i] > maxPrecipProb) {\n                maxPrecipProb = probPrecip[i];\n            }\n        }\n\n        // determine if watering needed\n        if (soilMoisture<= moistureThreshold) {\n            command = \"IDLE \" + pumpId.toString();   // no need to water\n        }\n        else if (soilMoisture <= 2000) {\n            if (maxPrecipProb < 30) {\n                command = \"WATER \" + pumpId.toString() + \" \" + sensor.id.toString() + \" LIGHT\";\n            } else {\n                command = \"IDLE \" + pumpId.toString() + \" \" + sensor.id.toString();\n            }\n        } else if (soilMoisture <= 2500) {\n            if (maxPrecipProb < 30) {\n                command = \"WATER \" + pumpId.toString() + \" \" + sensor.id.toString() + \" MEDIUM\";\n            } else if (totalRainNextHours < 2) {\n                command = \"WATER \" + pumpId.toString() + \" \" + sensor.id.toString() + \" LIGHT\";\n            } else {\n                command = \"IDLE \" + pumpId.toString() + \" \" + sensor.id.toString();\n            }\n        } else {    // soil is dry\n            if (maxPrecipProb < 30) {\n                command = \"WATER \" + pumpId.toString() + \" \" + sensor.id.toString() + \" HEAVY\";\n            } else if (totalRainNextHours < 2) {\n                command = \"WATER \" + pumpId.toString() + \" \" + sensor.id.toString() + \" MEDIUM\";\n            } else if (totalRainNextHours < 4) {\n                command = \"WATER \" + pumpId.toString() + \" \" + sensor.id.toString() + \" LIGHT\";\n            } else {\n                command = \"IDLE \" + pumpId.toString();\n            }\n        }\n    }\n\n    // don't send the same command twice\n    if (!outputMsgs.some(output => output.payload === command)) {\n        outputMsgs.push({ payload: command });\n    }\n\n\n})\n\n\n// store chosen watering mode into flow for log\n// flow.set(\"lastWateringMode\", msg.payload.substring(6,));\n\n// recheck soil moisture after 10 minutes if watering\nif (!recheckActive) {\n    if (outputMsgs.some(msg => msg.payload.includes(\"WATER\"))) {\n        flow.set(\"isRecheckActive\", true);\n        setTimeout(() => {\n            // send READ message to trigger new reading and function execution\n            node.send({ payload: \"READ\"});  \n            }, 600000);   // recheck in 10 minutes\n    }\n} else {\n    flow.set(\"isRecheckActive\", false);    \n} \n\nreturn [outputMsgs];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 120,
        "wires": [
            [
                "ec61008359c39560",
                "35a8bc56db8a3151",
                "49f58424f2ecc968"
            ]
        ]
    },
    {
        "id": "c0388066fca0e290",
        "type": "http request",
        "z": "d27ff7acba5e037e",
        "name": "current weather api ",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1190,
        "y": 1300,
        "wires": [
            [
                "40da37c3a039ece7"
            ]
        ]
    },
    {
        "id": "40da37c3a039ece7",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "parse_weather_api",
        "func": "let data = JSON.parse(msg.payload);\nlet current = data.current_weather;\n\nlet date = new Date(current.time)\nlet formatted_date = date.toLocaleString(\"en-GB\", {\n    day: \"2-digit\",\n    month: \"short\",\n    year: \"numeric\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    hour12: false\n}).replace(\",\", \"\");\n\n\nmsg.payload = {\n    temp: current.temperature + \" °C\",\n    windspeed: current.windspeed + \" km/h\",\n    winddirection: current.winddirection + \"°\",\n    time: formatted_date\n    }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 1300,
        "wires": [
            [
                "1cd47af34da9410b",
                "9ff9d3722a1a7b69",
                "da61cf5cfdd80191",
                "487192047a9b714b",
                "da5a3b8216fe6eb0"
            ]
        ]
    },
    {
        "id": "1cd47af34da9410b",
        "type": "ui_text",
        "z": "d27ff7acba5e037e",
        "group": "56688f1969147e9e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload.temp}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1670,
        "y": 1240,
        "wires": []
    },
    {
        "id": "9ff9d3722a1a7b69",
        "type": "ui_text",
        "z": "d27ff7acba5e037e",
        "group": "56688f1969147e9e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wind Speed",
        "format": "{{msg.payload.windspeed}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1670,
        "y": 1280,
        "wires": []
    },
    {
        "id": "da61cf5cfdd80191",
        "type": "ui_text",
        "z": "d27ff7acba5e037e",
        "group": "56688f1969147e9e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wind Direction",
        "format": "{{msg.payload.winddirection}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1680,
        "y": 1320,
        "wires": []
    },
    {
        "id": "ba1b3d895e52848a",
        "type": "http request",
        "z": "d27ff7acba5e037e",
        "name": "forecast 1d api",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1180,
        "y": 1120,
        "wires": [
            [
                "a7a08a6b4dad935f"
            ]
        ]
    },
    {
        "id": "a7a08a6b4dad935f",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "parse_forecast_api",
        "func": "let data = JSON.parse(msg.payload);\nlet rain = data.hourly.rain;\nlet showers = data.hourly.showers;\nlet probability = data.hourly.precipitation_probability;\n\n// get total rain + showers in mm\nlet totalPrecipitationHourly = [];\nlet totalPrecip = 0;\nfor (var i = 0; i < 24; i++) {\n    totalPrecipitationHourly[i] = rain[i] + showers[i];\n    totalPrecip += rain[i] + showers[i];\n}\n\ntotalPrecip = Math.floor(totalPrecip*100)/100;\n\n// find maximum precipitation probability\nlet maxPrecipProb = Math.max(...probability);\n\n// save data in the flow\nflow.set(\"totalPrecipHourly\", totalPrecipitationHourly);\nflow.set(\"probabPrecip\", probability);\nflow.set(\"hourlyRain\", rain);\n\nmsg.payload = {\n    totalPrecipHourly: totalPrecipitationHourly,\n    totalPrecip: totalPrecip,\n    probabPrecip: probability,\n    hourlyRain: rain,\n    maxPrecipProb: maxPrecipProb\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 1120,
        "wires": [
            [
                "5f96e176689cce61",
                "cc3e4bd4a741bcd4",
                "da5a3b8216fe6eb0"
            ]
        ]
    },
    {
        "id": "da5a3b8216fe6eb0",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 1200,
        "wires": []
    },
    {
        "id": "5f96e176689cce61",
        "type": "ui_text",
        "z": "d27ff7acba5e037e",
        "group": "56688f1969147e9e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total Predicted Rainfall Today",
        "format": "{{msg.payload.totalPrecip}} mm",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1730,
        "y": 1100,
        "wires": []
    },
    {
        "id": "cc3e4bd4a741bcd4",
        "type": "ui_text",
        "z": "d27ff7acba5e037e",
        "group": "56688f1969147e9e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Highest Probabilty of Rainfall",
        "format": "{{msg.payload.maxPrecipProb}}%",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1720,
        "y": 1140,
        "wires": []
    },
    {
        "id": "0b7ce3cd5e5c992c",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "update_pumps",
        "func": "let pumps = flow.get(\"pumpData\");\nlet updatedPump = msg.payload;\nlet pumpIndex = pumps.findIndex(pump => pump.id === updatedPump.id);\n\nif (pumps[pumpIndex].type === \"WATERING\") {\n    pumps[pumpIndex].currentWaterMode = updatedPump.currentWaterMode;\n    pumps[pumpIndex].env = updatedPump.env;\n\n    // watering\n    let wateringModes = [\"LIGHT\", \"MEDIUM\", \"HEAVY\"];\n    let waterCommand;\n\n    if (wateringModes.includes(updatedPump.currentWaterMode)) {\n        waterCommand = \"CHMOD \" + updatedPump.id.toString() + \" \" + updatedPump.currentWaterMode;\n\n    } else if (updatedPump.currentWaterMode === \"CUSTOM\") {\n        waterCommand = \"CHMOD \" + updatedPump.id.toString() + \" CUSTOM \" + updatedPump.amount.toString();\n        pumps[pumpIndex].amount = parseInt(updatedPump.amount);\n\n    } else if (updatedPump.currentWaterMode === \"AUTO\") {\n        waterCommand = \"CHMOD \" + updatedPump.id.toString() + \" AUTO\"; // default value (will change automatically)\n\n    } else {\n        node.warn(\"Invalid input for CHMOD.\");\n        return null;\n    }\n\n    // environment\n    let envModes = [\"INDOOR\", \"OUTDOOR\"];\n    let envCommand;\n\n    if (envModes.includes(updatedPump.env)) {\n        envCommand = \"SET_ENV \" + updatedPump.id.toString() + \" \" + updatedPump.env;\n    } else {\n        node.warn(\"Invalid input for SET_ENV.\")\n        return null;\n    }\n\n    flow.set(\"pumpData\", pumps);\n\n    return [[{payload: waterCommand},{payload: envCommand}]];\n} \n// fertilization pump\nelse {    \n    pumps[pumpIndex].amount = updatedPump.amount;\n    flow.set(\"pumpData\", pumps);\n    msg.payload = \"SET_FERT_AMOUNT \" + updatedPump.id.toString() + \" \" + updatedPump.amount;\n    return msg;\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 480,
        "wires": [
            [
                "9218897efed46d9e",
                "35a8bc56db8a3151"
            ]
        ]
    },
    {
        "id": "9218897efed46d9e",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "d4bc37cb6b14bcdd",
        "type": "csv",
        "z": "d27ff7acba5e037e",
        "name": "csv_water",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,pump,sensor,env,moisture,waterAmount",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 980,
        "y": 60,
        "wires": [
            [
                "d5db91812b763d19"
            ]
        ]
    },
    {
        "id": "d5db91812b763d19",
        "type": "file",
        "z": "d27ff7acba5e037e",
        "name": "",
        "filename": "/home/pi/fyp/readings.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1270,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "49f58424f2ecc968",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "ec61008359c39560",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "log_idle",
        "func": "let data = msg.payload;\nlet splitMsg = data.split(\" \"); // IDLE pumpID sensorID\n\nif (splitMsg[0] === \"IDLE\") {\n    let sensors = flow.get(\"sensorData\");\n    let pumps = flow.get(\"pumpData\");\n\n    let pumpId = parseInt(splitMsg[1]);\n    let sensorId = parseInt(splitMsg[2]);\n\n    let pump = pumps.find(p => p.id === pumpId);\n    let sensor = sensors.find(s => s.id === sensorId && s.type === \"SOIL\");\n\n    let date = new Date();\n    let formatted_date = date.toLocaleString(\"en-GB\", {\n    day: \"2-digit\",\n    month: \"short\",\n    year: \"numeric\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    hour12: false\n    }).replace(\",\", \"\");\n    \n    data = {}\n    data.sensor = sensorId;\n    data.pump = pumpId;\n    data.timestamp = formatted_date;\n    data.waterAmount = 0;\n    data.env = pump.env;\n    data.moisture = sensor.moisture;\n\n    msg.payload = data;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 120,
        "wires": [
            [
                "49f58424f2ecc968",
                "d4bc37cb6b14bcdd"
            ]
        ]
    },
    {
        "id": "083c4b7369ede12a",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 140,
        "wires": []
    },
    {
        "id": "a8a888fa98dae805",
        "type": "mqtt in",
        "z": "d27ff7acba5e037e",
        "name": "",
        "topic": "irrigation/readings",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5d42f12891b474f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "0f25c96d5a604298",
                "49f58424f2ecc968"
            ]
        ]
    },
    {
        "id": "35a8bc56db8a3151",
        "type": "mqtt out",
        "z": "d27ff7acba5e037e",
        "name": "",
        "topic": "irrigation/control",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5d42f12891b474f7",
        "x": 1120,
        "y": 280,
        "wires": []
    },
    {
        "id": "130afca86a9ccf1f",
        "type": "mqtt in",
        "z": "d27ff7acba5e037e",
        "name": "",
        "topic": "irrigation/notice",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5d42f12891b474f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 40,
        "wires": [
            [
                "d7bda9c37085a43c"
            ]
        ]
    },
    {
        "id": "487192047a9b714b",
        "type": "ui_text",
        "z": "d27ff7acba5e037e",
        "group": "56688f1969147e9e",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last data update",
        "format": "{{msg.payload.time}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1690,
        "y": 1360,
        "wires": []
    },
    {
        "id": "b550b59d364fc311",
        "type": "ui_template",
        "z": "d27ff7acba5e037e",
        "group": "89221f1b3e1e0dd1",
        "name": "sensors_ui",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div ng-init=\"sensors = []; pumps = []\">\n    <h2>Soil Moisture Sensors</h2>\n    <div ng-repeat=\"sensor in sensors\">\n        <div ng-if=\"sensor.type == 'SOIL'\">\n            <h3>Sensor {{sensor.id}}</h3>\n\n            <div ng-if=\"sensor.active == 1\">\n                <p>Moisture: {{sensor.moisture}}</p>\n                <label>Pump:</label>\n                <select ng-model=\"sensor.pump\" ng-options=\"pumpId for pumpId in pumps\" ng-change=\"updateSensor(sensor)\">\n                                <option value=\"\"></option>\n                </select>\n            </div>\n\n            <div ng-if=\"sensor.active == 0\">\n                <p>Status: Inactive</p>\n            </div>\n        <hr/>    \n        </div>\n    </div>\n\n    <h2>DHT Sensors</h2>\n    <div ng-repeat=\"sensor in sensors\">\n        <div ng-if=\"sensor.type == 'DHT_SENSOR'\">\n            <h3>Sensor {{sensor.id}}</h3>\n\n            <div ng-if=\"sensor.active == 1\">\n                <p>Temperature: {{sensor.temperature}}°C</p>\n                <p>Humidity: {{sensor.humidity}}%</p>\n            </div>\n            \n            <div ng-if=\"sensor.active == 0\">\n                <p>Status: Inactive</p>\n            </div>\n        <hr />\n        </div>\n    </div>\n\n    </br>\n    <button ng-click=\"refresh()\">Refresh</button>\n</div>\n\n<script>\n    (function(scope) {\n        scope.$watch('msg', function(msg) {\n            if (msg.payload.sensors) {\n                scope.sensors = msg.payload.sensors;\n            }\n\n            if (msg.payload.pumps) {\n                scope.pumps = msg.payload.pumps;\n            }\n        });\n\n        scope.updateSensor = function(sensor) {\n            // scope.send({ payload: sensor});\n            scope.send({ payload: \"CH_PUMP \" + sensor.id + \" \" + sensor.pump });\n        };\n\n        scope.refresh = function() {\n            scope.send({ payload: \"GET_ALL\"});\n        };\n    })(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "9218897efed46d9e",
                "35a8bc56db8a3151"
            ]
        ]
    },
    {
        "id": "d7bda9c37085a43c",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "process_notice",
        "func": "let data = msg.payload;\n\n// log error or notice messages from ESP\nnode.warn(\"Message: \" + JSON.stringify(data));\n\nif (data.hasOwnProperty(\"notice\")) {\n    let sensors = flow.get(\"sensorData\");\n    let pumps = flow.get(\"pumpData\");\n\n    // update UI upon notice receival by default\n    msg.payload = \"UPDATE\";\n\n    // watering\n    if (data.notice.includes(\"watering_started\")) {\n        // msg: watering_started(pumpID, sensorID, amount)\n        let splitMsg = data.notice.split(\"(\");\n        let values = splitMsg[1].split(\",\");\n        \n        let pumpId = parseInt(values[0]);\n        let sensorId = parseInt(values[1]);\n        let amount = parseInt(values[2].substring(0,values[2].length-1));\n\n        let sensor = sensors.find(s => s.id === sensorId && s.type === \"SOIL\");\n        let pump = pumps.find(p => p.id === pumpId);\n\n        let date = new Date();\n        let formatted_date = date.toLocaleString(\"en-GB\", {\n        day: \"2-digit\",\n        month: \"2-digit\",\n        year: \"numeric\",\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        hour12: false\n        }).replace(\",\", \"\");    \n\n        // manage data for log\n        data.pump = pumpId;\n        data.sensor = sensorId;\n        data.moisture = sensor.moisture;\n        data.timestamp = formatted_date;\n        data.waterAmount = amount;\n        data.env = pump.env;\n\n        msg.payload = data;\n    }\n\n    // pump set active or pump asssignment to sensor\n    else if (data.notice.includes(\"pump_set\")) {\n        let splitMsg = data.notice.split(\"(\");\n        let pumpId = parseInt(splitMsg[1].substring(0,1));\n\n        let pump = pumps.find(p => p.id === pumpId);\n        pump.active = 1;\n        flow.set(\"pumpData\", pumps);\n\n        // contains sensor update info\n        if (splitMsg.length === 3) {\n            let sensorId = parseInt(splitMsg[2].substring(0,1));\n            let index = sensors.findIndex(s => s.id === sensorId);\n            \n            sensors[index].pump = pumpId;\n            flow.set(\"sensorData\", sensors);\n        }\n    \n    }\n\n    // pump set inactive\n    else if (data.notice.includes(\"pump_unset\")) {\n        let splitMsg = data.notice.split(\"(\");\n        let pumpId = parseInt(splitMsg[1].substring(0,1));\n\n        let pump = pumps.find(p => p.id === pumpId);\n        pump.active = 0;\n        flow.set(\"pumpData\", pumps);\n    }\n\n    else if (data.notice.includes(\"fertilization_started\")) {\n        let splitMsg = data.notice.split(\"(\");\n        let values = splitMsg[1].split(\",\");\n        let pumpId = parseInt(values[0]);\n        let amount = parseInt(values[1].substring(0,values[1].length-1));\n\n        let date = new Date();\n        let formatted_date = date.toLocaleString(\"en-GB\", {\n            day: \"2-digit\",\n            month: \"2-digit\",\n            year: \"numeric\",\n            hour: \"2-digit\",\n            minute: \"2-digit\",\n            hour12: false\n        }).replace(\",\", \"\");\n\n        data.fert = 1;\n        data.pumpId = pumpId;\n        data.amount = amount;\n        data.timestamp = formatted_date;\n        msg.payload = data;\n\n        // save most recent fertilization data into the flow\n        let fertData = flow.get(\"lastFert\") || {};\n        fertData[pumpId] = {\n            timestamp: formatted_date,\n            amount: amount\n        }\n\n        flow.set(\"lastFert\", fertData);\n    }\n\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 40,
        "wires": [
            [
                "aa80139673ea7f9f",
                "20eb51f4534b98e5"
            ]
        ]
    },
    {
        "id": "1b5dd956e08ee398",
        "type": "mqtt in",
        "z": "d27ff7acba5e037e",
        "name": "",
        "topic": "irrigation/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "5d42f12891b474f7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 200,
        "wires": [
            [
                "67426dc7e1634013",
                "20eb51f4534b98e5"
            ]
        ]
    },
    {
        "id": "67426dc7e1634013",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "store_pumps_sensors",
        "func": "let data = msg.payload;\n\nif (data.hasOwnProperty(\"pumps\")) {\n    flow.set(\"pumpData\", data.pumps);\n    msg.payload = data;\n}\nelse if (data.hasOwnProperty(\"sensors\")) {\n    flow.set(\"sensorData\", data.sensors);\n    msg.payload = data;\n} \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [
            [
                "20eb51f4534b98e5",
                "4b7225d59a78a2fd"
            ]
        ]
    },
    {
        "id": "d82d6c7c8be588f6",
        "type": "inject",
        "z": "d27ff7acba5e037e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "GET_ALL",
        "payloadType": "str",
        "x": 980,
        "y": 180,
        "wires": [
            [
                "35a8bc56db8a3151"
            ]
        ]
    },
    {
        "id": "20eb51f4534b98e5",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 260,
        "wires": []
    },
    {
        "id": "63d02a3976e94dc0",
        "type": "ui_template",
        "z": "d27ff7acba5e037e",
        "group": "32058175d5771dde",
        "name": "pumps_ui",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-init=\"pumps = []\">\n    <h2>Watering</h2>\n    <div ng-repeat=\"pump in pumps\">\n        <div ng-if=\"pump.type=='WATERING'\">\n            <h3>Pump {{pump.id}}</h3>\n            <div ng-if=\"pump.active == 1\">\n                <label>Watering Mode:</label>\n                <select ng-model=\"pump.currentWaterMode\" ng-change=\"updatePump(pump)\">\n                    <option value = \"LIGHT\">Light</option>\n                    <option value = \"MEDIUM\">Medium</option>\n                    <option value = \"HEAVY\">Heavy</option>\n                    <option value = \"CUSTOM\">Custom</option>\n                    <option value = \"AUTO\">Automatic</option>\n                </select>\n                <div ng-if=\"pump.currentWaterMode=='CUSTOM'\">\n                    <label>Custom Amount (ml):</label>\n                    <input type=\"number\" ng-model=\"pump.amount\" ng-change=\"updatePump(pump)\"/>\n                </div>\n\n                <label>Environment:</label>\n                <select ng-model=\"pump.env\" ng-change=\"updatePump(pump)\">\n                    <option value = \"INDOOR\">Indoor</option>\n                    <option value = \"OUTDOOR\">Outdoor</option>\n                </select>\n\n                <button ng-click=\"water(pump)\">Manual Watering</button>\n                <button ng-click=\"deactivatePump(pump)\">Deactivate</button>\n            </div>\n\n            <div ng-if=\"pump.active == 0\">\n                <p>Status: Inactive</p>\n                <button ng-click=\"activatePump(pump)\">Activate</button>\n            </div>\n        <hr/>\n        </div>\n    </div>\n\n    <h2>Fertilization</h2>\n    <div ng-repeat=\"pump in pumps\">\n        <div ng-if=\"pump.type=='FERTILIZATION'\">\n            <h3>Pump {{pump.id}}</h3>\n            <div ng-if=\"pump.active == 1\">\n                <label>Amount (ml):</label>\n                <input type=\"number\" ng-model=\"pump.amount\" ng-change=\"updatePump(pump)\"/>\n                <button ng-click=\"fertilize(pump)\">Fertilize</button>\n                <button ng-click=\"deactivatePump(pump)\">Deactivate</button>\n            </div>\n\n            <div ng-if=\"pump.active == 0\">\n                <p>Status: Inactive</p>\n                <button ng-click=\"activatePump(pump)\">Activate</button>\n            </div>\n        </div>\n    </div>\n\n</div>\n\n<script>\n    (function(scope) {\n        scope.$watch(\"msg\", function(msg) {\n            if (msg.payload.pumps) {\n                scope.pumps = msg.payload.pumps;\n            }\n        });\n\n        scope.updatePump = function(pump) {\n            scope.send({ payload: pump });\n        };\n\n        scope.water = function(pump) {\n            scope.send({ payload: \"WATER \" + pump.id  })\n        };\n\n        scope.fertilize = function(pump) {\n            scope.send({ payload: \"FERTILIZE \" + pump.id })\n        };\n\n        scope.activatePump = function(pump) {\n            scope.send({ payload: \"SET_STATUS 1 P \" + pump.id })\n        };\n\n        scope.deactivatePump = function(pump) {\n            scope.send({ payload: \"SET_STATUS 0 P \" + pump.id })\n        };\n    })(scope);\n</script>    ",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 540,
        "y": 480,
        "wires": [
            [
                "83e5945683e998c8"
            ]
        ]
    },
    {
        "id": "83e5945683e998c8",
        "type": "switch",
        "z": "d27ff7acba5e037e",
        "name": "user_input",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(WATER|FERTILIZE|SET_STATUS)",
                "vt": "str",
                "case": false
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 480,
        "wires": [
            [
                "26bc4ad2b8edb0dc",
                "35a8bc56db8a3151"
            ],
            [
                "0b7ce3cd5e5c992c"
            ]
        ]
    },
    {
        "id": "26bc4ad2b8edb0dc",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 580,
        "wires": []
    },
    {
        "id": "9cd49f64ca1c0a6a",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "get_pumps",
        "func": "let pumpData = flow.get(\"pumpData\");\nmsg.payload = { pumps: pumpData};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 480,
        "wires": [
            [
                "63d02a3976e94dc0"
            ]
        ]
    },
    {
        "id": "f3b997b1a32872c9",
        "type": "ui_ui_control",
        "z": "d27ff7acba5e037e",
        "name": "",
        "events": "all",
        "x": 60,
        "y": 400,
        "wires": [
            [
                "9cd49f64ca1c0a6a",
                "e29d4f378020f376"
            ]
        ]
    },
    {
        "id": "e29d4f378020f376",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "get_sensors",
        "func": "let sensorData = flow.get(\"sensorData\");\nlet pumpData = flow.get(\"pumpData\");\nlet wateringPumps = pumpData.filter(p => p.type === \"WATERING\");\nmsg.payload = { sensors: sensorData, pumps: wateringPumps.map(p => p.id)};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 340,
        "wires": [
            [
                "b550b59d364fc311",
                "b9345f9042f243cf"
            ]
        ]
    },
    {
        "id": "b9345f9042f243cf",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 400,
        "wires": []
    },
    {
        "id": "aa80139673ea7f9f",
        "type": "switch",
        "z": "d27ff7acba5e037e",
        "name": "data||csv",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "UPDATE",
                "vt": "str"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 500,
        "y": 40,
        "wires": [
            [
                "3cd73cc03c4febe6"
            ],
            [
                "2501ea220d950b3a"
            ]
        ]
    },
    {
        "id": "0a6d12aa732bc45b",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "handle_command",
        "func": "let command = msg.payload.command;\n\n\nmsg.payload = command;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 800,
        "wires": [
            [
                "3c4d08b0a01ca613",
                "675b189997db0a03",
                "9b790e487fcb9bfd"
            ]
        ]
    },
    {
        "id": "3c4d08b0a01ca613",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 920,
        "wires": []
    },
    {
        "id": "8b6b7be419aec468",
        "type": "http in",
        "z": "d27ff7acba5e037e",
        "name": "",
        "url": "/control",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "0a6d12aa732bc45b"
            ]
        ]
    },
    {
        "id": "8cc0b7f1f99c0f2b",
        "type": "mqtt out",
        "z": "d27ff7acba5e037e",
        "name": "",
        "topic": "irrigation/control",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5d42f12891b474f7",
        "x": 940,
        "y": 800,
        "wires": []
    },
    {
        "id": "675b189997db0a03",
        "type": "switch",
        "z": "d27ff7acba5e037e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(WATER|GET_ALL|FERTILIZE)",
                "vt": "str",
                "case": false
            },
            {
                "t": "cont",
                "v": "SET_LOC",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 530,
        "y": 800,
        "wires": [
            [
                "8cc0b7f1f99c0f2b"
            ],
            [
                "5ee49e6e39806bf4"
            ],
            [
                "53a7c22a0b44879b"
            ]
        ]
    },
    {
        "id": "53a7c22a0b44879b",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "handle_web_app",
        "func": "let pumps = flow.get(\"pumpData\");\nlet command = msg.payload;\nlet splitCmd = command.split(\" \");\n\nif (splitCmd[0] === \"CHMOD\") {\n    let pumpId = parseInt(splitCmd[1]);\n    let newMode = splitCmd[2];\n\n    let pumpIndex = pumps.findIndex(pump => pump.id === pumpId);\n    let wateringModes = [\"LIGHT\", \"MEDIUM\", \"HEAVY\", \"AUTO\"];\n\n    if (wateringModes.includes(newMode)) {\n        msg.payload = command;\n        pumps[pumpIndex].currentWaterMode = newMode;\n        flow.set(\"pumpData\", pumps);\n    } else {\n        node.warn(\"Invalid input for CHMOD.\");\n        return null;\n    }\n}\n\nelse if (splitCmd[0] === \"SET_ENV\") {\n    let pumpId = parseInt(splitCmd[1]);\n    let newEnv = splitCmd[2];\n\n    let pumpIndex = pumps.findIndex(pump => pump.id === pumpId);\n    let envModes = [\"INDOOR\", \"OUTDOOR\"];\n    \n    if (envModes.includes(newEnv)) {\n        msg.payload = command;\n        pumps[pumpIndex].env = newEnv;\n        flow.set(\"pumpData\", pumps);\n    } else {\n        node.warn(\"Invalid input for SET_ENV.\");\n        return null;\n    }\n}\n\n// fertilization\nelse if (splitCmd[0] === \"SET_FERT_AMOUNT\") {\n    let pumpId = parseInt(splitCmd[1]);\n    let amount = parseInt(splitCmd[2]);\n\n    let pumpIndex = pumps.findIndex(pump => pump.id === pumpId);\n\n    pumps[pumpIndex].amount = amount;\n    flow.set(\"pumpData\", pumps);\n    msg.payload = command;\n}\n\nelse {\n    node.warn(\"Invalid command from web app.\");\n    return null;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 820,
        "wires": [
            [
                "3c4d08b0a01ca613",
                "8cc0b7f1f99c0f2b"
            ]
        ]
    },
    {
        "id": "19a66b9f64c1c03b",
        "type": "ui_text_input",
        "z": "d27ff7acba5e037e",
        "name": "",
        "label": "Location: ",
        "tooltip": "Enter location for the weather forecast.",
        "group": "56688f1969147e9e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "payload",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 100,
        "y": 1180,
        "wires": [
            [
                "4897ae51d0ceb2e6"
            ]
        ],
        "inputLabels": [
            "{{msg.payload}}"
        ]
    },
    {
        "id": "a5d62346e48c329b",
        "type": "http in",
        "z": "d27ff7acba5e037e",
        "name": "",
        "url": "/location",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 860,
        "wires": [
            [
                "ba280cb6201a910c"
            ]
        ]
    },
    {
        "id": "39d62ff274109513",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "get_location",
        "func": "let location = msg.payload;\n\nlocation = location.trim().replace(\" \", \"+\");\n\nlet url = \"https://geocoding-api.open-meteo.com/v1/search?name=\" + location + \"&count=10&language=en&format=json\"\n\nmsg.url = url;\nmsg.method = \"GET\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1180,
        "wires": [
            [
                "e7b8a7e5248a2028",
                "67dd47eb0cf057c7"
            ]
        ]
    },
    {
        "id": "e7b8a7e5248a2028",
        "type": "http request",
        "z": "d27ff7acba5e037e",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 1180,
        "wires": [
            [
                "8c12922e37e7e7f5",
                "67dd47eb0cf057c7"
            ]
        ]
    },
    {
        "id": "8c12922e37e7e7f5",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "process_location",
        "func": "if (msg.payload.results && msg.payload.results.length > 0) {\n    let result = msg.payload.results[0];\n\n    let location = {\n        city: result.name,\n        country: result.country,\n        latitude: result.latitude,\n        longitude: result.longitude\n    };\n\n    flow.set(\"location\", location);\n\n    msg.payload = location;\n} else if (msg.payload.city) {\n    return msg;\n} else {\n    node.warn(\"Error: City not found\")\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1180,
        "wires": [
            [
                "67dd47eb0cf057c7",
                "e4c34d33ac3f7cc8",
                "abe6a850fc4de9a0"
            ]
        ]
    },
    {
        "id": "67dd47eb0cf057c7",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1060,
        "wires": []
    },
    {
        "id": "4897ae51d0ceb2e6",
        "type": "trigger",
        "z": "d27ff7acba5e037e",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 240,
        "y": 1180,
        "wires": [
            [
                "39d62ff274109513"
            ]
        ]
    },
    {
        "id": "e4c34d33ac3f7cc8",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "1d_forecast",
        "func": "let location = flow.get(\"location\")\n\nif (!location) {\n    node.error(\"Location not set\");\n    return null;\n} else {\n    msg.url = \"https://api.open-meteo.com/v1/forecast?latitude=\" + location.latitude + \"&longitude=\" + location.longitude + \"&hourly=precipitation_probability,rain,showers&forecast_days=1\";\n    msg.method = \"GET\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 1160,
        "wires": [
            [
                "ba1b3d895e52848a"
            ]
        ]
    },
    {
        "id": "abe6a850fc4de9a0",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "current_weather",
        "func": "let location = flow.get(\"location\")\n\nif (!location) {\n    node.error(\"Location not set\");\n    return null;\n} else {\n    msg.url = \"https://api.open-meteo.com/v1/forecast?latitude=\" + location.latitude + \"&longitude=\" + location.longitude + \"&current_weather=true\";\n    msg.method = \"GET\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1220,
        "wires": [
            [
                "c0388066fca0e290"
            ]
        ]
    },
    {
        "id": "ba280cb6201a910c",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "send_location",
        "func": "let location = flow.get(\"location\");\n\nif (!location) {\n    msg.payload = {error: \"No location set\"};\n    msg.statusCode = 404;\n} else {\n    msg.payload = {\n        city: location.city,\n        country: location.country,\n        latitude: location.latitude,\n        longitude: location.longitude\n    };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 860,
        "wires": [
            [
                "9b790e487fcb9bfd"
            ]
        ]
    },
    {
        "id": "5ee49e6e39806bf4",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "set_location",
        "func": "let command = msg.payload;\nlet splitCmd = command.split(\" \");\n\nlet location = {\n    city: splitCmd[1],\n    country: splitCmd[2],\n    latitude: splitCmd[3],\n    longitude: splitCmd[4]\n};\n\nmsg.payload = location;\nflow.set(\"location\", location);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 880,
        "wires": [
            [
                "3c4d08b0a01ca613",
                "d274d8733e658526"
            ]
        ]
    },
    {
        "id": "2cdba979076c7633",
        "type": "csv",
        "z": "d27ff7acba5e037e",
        "name": "csv_fert",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "timestamp,pumpId,amount",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 980,
        "y": 20,
        "wires": [
            [
                "bc429e528b2a3f46"
            ]
        ]
    },
    {
        "id": "bc429e528b2a3f46",
        "type": "file",
        "z": "d27ff7acba5e037e",
        "name": "",
        "filename": "/home/pi/fyp/fertilization.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1280,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "2501ea220d950b3a",
        "type": "switch",
        "z": "d27ff7acba5e037e",
        "name": "fertilization||watering",
        "property": "payload.fert",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 60,
        "wires": [
            [
                "2cdba979076c7633"
            ],
            [
                "d4bc37cb6b14bcdd"
            ]
        ]
    },
    {
        "id": "3cd73cc03c4febe6",
        "type": "link out",
        "z": "d27ff7acba5e037e",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "abbd9d99b626c236"
        ],
        "x": 625,
        "y": 20,
        "wires": []
    },
    {
        "id": "abbd9d99b626c236",
        "type": "link in",
        "z": "d27ff7acba5e037e",
        "name": "link in 1",
        "links": [
            "3cd73cc03c4febe6",
            "4b7225d59a78a2fd"
        ],
        "x": 105,
        "y": 360,
        "wires": [
            [
                "e29d4f378020f376",
                "9cd49f64ca1c0a6a"
            ]
        ]
    },
    {
        "id": "4b7225d59a78a2fd",
        "type": "link out",
        "z": "d27ff7acba5e037e",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "abbd9d99b626c236"
        ],
        "x": 495,
        "y": 200,
        "wires": []
    },
    {
        "id": "d274d8733e658526",
        "type": "link out",
        "z": "d27ff7acba5e037e",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "80c0ac79022b9ef6",
            "108723215eb4d72c"
        ],
        "x": 875,
        "y": 880,
        "wires": []
    },
    {
        "id": "80c0ac79022b9ef6",
        "type": "link in",
        "z": "d27ff7acba5e037e",
        "name": "link in 2",
        "links": [
            "d274d8733e658526"
        ],
        "x": 25,
        "y": 1100,
        "wires": [
            [
                "d2a8d107f61a6a21"
            ]
        ]
    },
    {
        "id": "d2a8d107f61a6a21",
        "type": "change",
        "z": "d27ff7acba5e037e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.city",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 1100,
        "wires": [
            [
                "19a66b9f64c1c03b"
            ]
        ]
    },
    {
        "id": "108723215eb4d72c",
        "type": "link in",
        "z": "d27ff7acba5e037e",
        "name": "link in 3",
        "links": [
            "d274d8733e658526"
        ],
        "x": 605,
        "y": 1140,
        "wires": [
            [
                "8c12922e37e7e7f5"
            ]
        ]
    },
    {
        "id": "b9f621089bc6ea80",
        "type": "http in",
        "z": "d27ff7acba5e037e",
        "name": "",
        "url": "/pair",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 920,
        "wires": [
            [
                "b621f48c90536d12"
            ]
        ]
    },
    {
        "id": "b621f48c90536d12",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "send_code",
        "func": "let code = flow.get(\"pairingCode\");\nmsg.payload = { code: code};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 920,
        "wires": [
            [
                "9b790e487fcb9bfd"
            ]
        ]
    },
    {
        "id": "23c22e858afbd25b",
        "type": "inject",
        "z": "d27ff7acba5e037e",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 70,
        "y": 980,
        "wires": [
            [
                "42b1edcf235f3245"
            ]
        ]
    },
    {
        "id": "42b1edcf235f3245",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "generate_pairing_code",
        "func": "let code = Math.floor(100000 + Math.random() * 90000);\nflow.set(\"pairingCode\", code);\n\nlet codeWarn = \"PAIRING CODE: \" + code;\nnode.warn(codeWarn);\n\nmsg.payload = code;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 980,
        "wires": [
            [
                "51ac4a909c09cb26",
                "3c4d08b0a01ca613"
            ]
        ]
    },
    {
        "id": "51ac4a909c09cb26",
        "type": "ui_text",
        "z": "d27ff7acba5e037e",
        "group": "e16fb3a027e5bb64",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Pairing Code:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 980,
        "wires": []
    }
]