.flows.json.backup
[
    {
        "id": "d27ff7acba5e037e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f39649b35540991f",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "c8f8a9b50670e8ae",
        "type": "serial in",
        "z": "d27ff7acba5e037e",
        "name": "Arduino",
        "serial": "f39649b35540991f",
        "x": 70,
        "y": 140,
        "wires": [
            [
                "2c5e21c2cb152ca5"
            ]
        ]
    },
    {
        "id": "2c5e21c2cb152ca5",
        "type": "debug",
        "z": "d27ff7acba5e037e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 80,
        "wires": []
    },
    {
        "id": "37fed4bf6bea55d3",
        "type": "json",
        "z": "d27ff7acba5e037e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0f25c96d5a604298",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "process_sensor_data",
        "func": "var data = JSON.parse(msg.payload);\nflow.set(\"sensor_data\", data);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a66fbdc432908dca",
        "type": "http in",
        "z": "d27ff7acba5e037e",
        "name": "",
        "url": "/sensor-data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "64a99cfa8ceea933",
        "type": "function",
        "z": "d27ff7acba5e037e",
        "name": "parse_data",
        "func": "var sensorData = flow.get(\"sensor_data\") || {};\nmsg.payload = sensorData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 300,
        "wires": [
            [
                "9b790e487fcb9bfd"
            ]
        ]
    },
    {
        "id": "9b790e487fcb9bfd",
        "type": "http response",
        "z": "d27ff7acba5e037e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 410,
        "y": 340,
        "wires": []
    }
]